/***Universal Selector***/
/* Reseting the page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting default font style*/

html {
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* Styling the background */

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bank.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

/*****
Styling of the navigation bar starts here
*****/

/*Moving the nav bar to the right*/

.nav > .ul{
    margin: 45px 0px 0px 650px ;
    
}

/*Making the li on a straight line and also removing the bullet*/
li{
    list-style-type: none;
    display: inline;    
    margin-left: 15px;
}

/*Formating the anchor tag*/

li a{
    text-decoration: none;
    font-size: 120%;
    color: white;
}

/*Formatting the anchor tag on active state*/

.activelink{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 3px;
}

/*Formatting the anchor tag on hover state*/

a:hover{
    border-bottom: 2px solid #e67e22;
}


/*****
Main content starts here
*****/


/*Formating the h1 element*/

h1{
    margin-top: 0 !important;
    margin-bottom: 15px;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/*Positioning the main contain in the center horizontally*/

.container{
    position: absolute;
    width: 1140px;
    top: 37%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* Formatting the read more button (visited and link state) */

.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    background-color: #e67e22;
    border-radius: 200px;
    color: #fff;
    
}

/* Formatting the read more button (hover and active state) */

.btn:hover,
.btn:active {
    background-color: #cf6d17;
  transition: background-color 2.5s;
}
.logo {
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    
}
